/*
  Issue on select2 on modal
*/
.select2-close-mask{
    z-index: 2099 !important;
}
.select2-dropdown{
    z-index: 3051  !important;
}

.text-dark{
  color: #2f4050;
}

.text-image{
  height: 3em;
  width: auto;
}

#page-wrapper {
    position: relative;
}
#page-wrapper:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/healthinfosys/assets/img/health_bg.jpg");
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
